<div class="wrapper" [@compState]>
    <div class="page-header page-header-xs" data-parallax="true" style="background-image: url('../assets/img/hardware.jpg');">
      <div class="filter"></div>
    </div>
    <div class="container">
        <table class="table table-hover">
            <thead class="thead-dark">
              <tr>
                <th>#</th>
                <th>Name</th>
                <th>Description</th>
                <th>Quantity</th>
                <th>Actions</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td> 1 </td>
                <td></td>
                <td></td>
                <td></td>
                <th><span>
                    <button class="btn btn-danger"> Remove </button>
                    <button class="btn btn-primary"> Modify </button>
                </span></th>
              </tr>
            </tbody>
          </table>
    </div>
</div>