<div class="wrapper">
    <div class="page-header page-header-xs" data-parallax="true" style="background-image: url('../assets/img/fabio-mangione.jpg');">
        <div class="filter"></div>
    </div>
    <div class="section profile-content">
        <div class="container">
            <div class="owner">
                <div class="avatar">
                    <img src="../assets/img/faces/joe-gardner-2.jpg" alt="Circle Image" class="img-circle img-no-padding img-responsive">
                </div>
                <div class="name">
                    <h4 class="title">NAME and LASTNAME<br /></h4>
                    <h6 class="description">ROLE</h6>
                </div>
            </div>
            <div *ngIf="state" [@divState]>
                <div class="row">
                    <div class="col-md-6 ml-auto mr-auto text-center">
                        <p>No description yet. </p>
                        <br />
                        <button (click)="toggleState()" class="btn btn-outline-default btn-round"><i class="fa fa-cog"></i> Settings</button>
                    </div>
                </div>
                <br/>
                <div class="nav-tabs-navigation">
                    <div class="nav-tabs-wrapper">
                        <ngb-tabset [justify]="'center'">
                            <ngb-tab title="Projects">
                                <ng-template ngbTabContent >
                                    <div class="row following" id="follows">
                                        <div class="col-md-6 ml-auto mr-auto">
                                            <ul class="list-unstyled follows">
                                                <li>
                                                    <div class="row">
                                                        <div class="col-md-2 col-sm-2 ml-auto mr-auto">
                                                        
                                                        </div>
                                                        <div class="col-md-7 col-sm-4 ml-auto">
                                                            <h6>Some project<br/><small>Some project description</small></h6>
                                                        </div>
                                                        <div class="col-md-3 col-sm-2 ml-auto mr-auto">
                                                        </div>
                                                    </div>
                                                </li>
                                                <hr />
                                            </ul>
                                        </div>
                                    </div>
                                </ng-template>
                            </ngb-tab>
                            <ngb-tab title="Teams">
                                <ng-template ngbTabContent>
                                    <h3 class="text-muted">Not part of any team yet</h3>
                                    <br>
                                </ng-template>
                            </ngb-tab>
                        </ngb-tabset>
                    </div>
                </div>
            </div>
        <!-- settings edit -->
            <div class="content-center" *ngIf="statelogin" [@divState]>
                <div class="container">
                    <div class="title-brand">
                        <h3 class="title">Edit profile </h3>
                        <hr>
                        <form class="form-group">
                            <input id="name" type="text" placeholder="Name" class="form-control" >
                            <br>
                            <input id="lastname" type="text" placeholder="Last name" class="form-control">
                            <br>
                            <input id="phone" type="text" placeholder="Phone number" class="form-control">
                            <br>
                            <input id="email" type="email" placeholder="Email" class="form-control">
                            <br>
                            <select class="form-control" id="field">
                                <option disabled>Study field</option>
                                <option value="bio">BIO</option>
                                <option value="cba">CBA</option>
                                <option value="ch">CH</option>
                                <option value="gl">GL</option>
                                <option value="iia">IIA</option>
                                <option value="imi">IMI</option>
                                <option value="mpi">MPI</option>
                                <option value="rt">RT</option>
                            </select>
                            <br>
                            <input id="password" type="password" placeholder="Password" class="form-control">
                            <br>
                            <input id="confirm_password" type="password" placeholder="Confirm password" class="form-control">
                            <br>
                            <button id="confirm" type="submit" class="btn btn-outline-success btn-round col-md-5">Submit</button>
                            <button id="reset" type="reset" class="btn btn-outline-primary btn-round col-md-5">Reset</button>
                            <br>
                            <br>
                            <button id="back" type="button" class="btn btn-outline-default btn-round col-md-2" (click)="toggleStateSignin()" >Back</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
