<div class="wrapper">
    <div class="page-header section-dark" style="background-image: url('assets/img/antoine-barres.jpg')">
        <div class="moving-clouds" style="background-image: url('assets/img/clouds.png'); "></div>
        <div class="filter"></div>
        <div class="content-center">
            <div class="container">
                <div class="title-brand">
                    <div class="angular-logo">
                    </div>
                    <h1 class="presentation-title">Insat Samsung Academy</h1>
                    <div class="fog-low">
                        <img src="assets/img/fog-low.png" alt="">
                    </div>
                    <div class="fog-low right">
                        <img src="assets/img/fog-low.png" alt="">
                    </div>
                </div>

                <h2 class="presentation-subtitle text-center">Please sign in or sign up to continue.</h2>
                <div class="row d-flex justify-content-center" style="margin: 25px;">
                    <button class="btn btn-outline-neutral btn-round " style="margin-right:25px;">Sign in</button>
                    <button class="btn btn-outline-neutral btn-round "  >Sign up</button>
                </div>
            </div>
        </div>
    </div>
</div>
